@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca');

* {
    font-family: 'Lexend Deca';
    line-height: 1.5em;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #191919;
}

.secondary {
    color: #b1b7b8;
}

#container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

section {
    padding-top: 1em;
    padding-bottom: 1em;
}

#profile {
    display: flex;
    align-items: center;
    gap: 4em;
}

a {
    font-weight: 300;
}

#name {
    font-size: 48px;
    line-height: 1em;
}

#profile-pic {
    width: 140px;
    border-radius: 50%;
}