@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca');

:root {
    --textColor: white;
    --secondaryTextColor: #c3c6c7;
    --linkColor: #73c2fb;
    --borderColor: rgba(255, 255, 255, 0.219);
}

* {
    font-family: 'Lexend Deca';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--textColor);
}

body, .profile {
    background-color: #191919;
}

h2 {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--borderColor);
}

p, li, span {
    color: var(--secondaryTextColor);
    font-size: 1.05em;
}

li {
    line-height: 1.9em;
}

section {
    min-height: 20vh;
}

#container {
    margin: 0 auto;
    padding: 1em;
}

#container:not(.top) {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.technology, .secondary {
    color: var(--textColor);
}

.secondary {
    color: #b1b7b8;
}

.secondary a {
    color: var(--linkColor);
}

.profile {
    position: fixed;
}

#profile {
    display: flex;
    align-items: center;
    gap: 4em;
}

a {
    text-decoration: none;
    font-weight: 300;
}

#email {
    transition: 0.2s;
}

#email a:hover {
    color: var(--linkColor);
}

#name {
    font-size: 48px;
    line-height: 0.5em;
}

#profile-pic {
    width: 140px;
    border-radius: 50%;
}

#links {
    display: flex;
    justify-content: space-evenly;
}

#links a, #links i {
    transition: 0.2s;
    font-size: 0.9em;
}

#links a:hover, #links i:hover {
    color: var(--linkColor);
    font-weight: 100;
    font-size: 0.9em;
}

#profile #links {
    width: 90%;
    font-size: 1.2em;
    justify-content: space-between;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.experience-title h4 {
    font-size: 1.1em;
    margin: 0;
    word-wrap: break-word;
}

.experience-card {
    margin-bottom: 4em;
    padding-left: 1.5em;
    margin-left: 0.25em;
    border-left: 2px solid var(--borderColor);
}

/* Desktop */
@media (min-width: 1600px) {
    body {
        display: flex;
        position: relative;
        height: 100%;
    }

    #container:not(.top) {
        padding: 1%;
        margin: 20px 0px 0 20px;
        max-width: 45%;

    }

    .profile {
        left: 25%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

/* Tablet */
@media (max-width: 1600px) {
    .profile {
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 15px;
        border-radius: 0 0 25px 25px; 
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    }

    #profile {
        justify-content: center;
    }

    #links {
        padding-bottom: 6px;
        justify-content: space-evenly;
    }

    #container {
        margin-top: 150px; 
    }
}

/* Mobile */
@media (max-width: 660px) {
    .profile {
        position: relative;
        margin-top: 0;
        padding-top: 0;
        height: 70vh;
    }

    #profile {
        flex-direction: column;
    }

    #profile-pic {
        width: 200px;
    }

    .experience-card {
        padding-left: 17px;
        margin-left: 0;
    }
}
